@use "sass:math";

$light-orange: #fad089;
$orange: #ff9c5a;
$dark-orange: #f66349;
$red: #ed2f3c;
$blue: #3b8083;
$transparent-white: rgba(255, 255, 255, 0.63);
$main-font: 'Noto Sans SC', sans-serif;
$board-size: 35vw;

@mixin split-view($bg-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: $bg-color;
}

@mixin square-background($iconURL) {
  background-image: url($iconURL);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all ease-in 100ms;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: $main-font;
}

main {
  @include split-view(lighten($orange, 10%));
  flex-direction: column;
  .title {
    h1 {
      font-size: 50px;
      width: 100%;
      padding: 0 1em;
      background-color: $transparent-white;
      font-weight: 700;
    }
    h2 {
      font-size: 16px;
      padding: 5px 1em;
      margin: 5% 0;
      background-color: $transparent-white;
      font-weight: 300;
    }
  }
  form {
    width: 70%;
    margin: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;

    label {
      display: block;
      padding: 1em;
      border: solid 1px black;
      margin: 1vh 0;
      cursor: pointer;
      font-weight: 300;
      font-size: 0.9em;
    }

    .radio-container:hover {
      label {
        text-decoration: underline;
      }
    }

    button {
      cursor: pointer;
      padding: 3% 10%;
      font-weight: 700;
      font-size: 1.7em;
      background-color: $transparent-white;
      border: none;
      margin: 1vh 0;
    }
    button:hover {
      text-decoration: underline;
    }
  }
}

#root {
  @include split-view($light-orange);
}

.board {
  width: $board-size;
  height: $board-size;
  line-height: 0;
  margin: auto;
  .square {
    height: math.div($board-size, 3);
    width: math.div($board-size, 3);
    margin: 0;
    background-color: lighten($light-orange, 40%);
    border: solid 1px $light-orange;
    display: inline-block;

    &.active:hover {
      cursor: pointer;
      background-color: lighten($light-orange, 10%);
    }

    &.playerX {
      @include square-background('./assets/redX.svg');
    }
    &.playerO {
      @include square-background('./assets/blueO.svg');
    }

    &.lose.playerX {
      @include square-background('./assets/grayX.svg');
    }
    &.lose.playerO {
      @include square-background('./assets/grayO.svg');
    }
  }
}

@media (max-width: 750px) {
  $mobile-board-size: 90vw;
  body {
    margin: 0;
    display: block;
  }
  main {
    height: 100vh;
    width: 100vw;
    .title {
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 15px;
      }
    }
  }

  #root {
    height: 100vh;
    width: 100vw;
    padding: 5vh 0;
  }

  .board {
    width: $mobile-board-size;
    height: $mobile-board-size;
    line-height: 0;
    margin: auto;
    .square {
      height: math.div($mobile-board-size, 3);
      width: math.div($mobile-board-size, 3);
    }
  }
}
