@use "sass:math";

$main-red: red;
$main-blue: blue;
$win-color: rgb(239, 252, 205);
$square-color: white;
$main-font: 'Rubik', sans-serif;
$board-size: 35vw;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: $main-font;
  margin: 0 5vw;
}

header {
  .title {
    h1 {
      font-size: 70px;
    }
    h2 {
      font-size: 20px;
      color: gray;
    }
  }
  form {
    margin: 20px;
    text-align: left;
  }
}

.board {
  width: $board-size;
  height: $board-size;
  line-height: 0;
  .square {
    height: math.div($board-size, 3);
    width: math.div($board-size, 3);
    margin: 0;
    background-color: $square-color;
    border: solid 1px black;
    display: inline-block;
    transition: all ease-in 60ms;

    &.active:hover {
      cursor: pointer;
      background-color: darken($square-color, 10%);
    }

    &.win {
      background-color: $win-color;
    }

    @mixin selected-square($iconURL) {
      background-image: url($iconURL);
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.playerX {
      @include selected-square('./assets/xIcon.svg');
    }
    &.playerO {
      @include selected-square('./assets/oIcon.svg');
    }
  }
}

#reset {
  border-radius: 0;
  width: 100%;
  margin: 10px 0;
  padding: 0.5em 0;
  background-color: white;
  cursor: pointer;
}
